a.nav-link {
    color: white;
    text-decoration: none;
}

.delete-btn {
    border: 1px solid #e6e6e6;
    background: #fff;
    padding: 1px 10px;
}

.fa-trash {
    color: red;
}

.expense-add-form {
    background: #f6f6f6;
    padding: 40px 25px;
    border-radius: 10px;
}